/backend/node_modules
/frontend2/node_modules

/backend/bin
/frontend2/android/build
/frontend2/ios/build
/frontend2/windows/build
/frontend2/.bundle

/frontend2/ios/Pods
/frontend2/ios/DerivedData
/frontend2/ios/build

/frontend2/android/.gradle
/frontend2/android/app/build
/frontend2/android/gradlew
/frontend2/android/gradlew.bat

.DS_Store
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log